.card-project {
  height: 160px;
  width: 160px;
  border-radius: 10px;
  background: var(--color-gray);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 16px;
}

.card-project__data--user {
  color: var(--color-white);
}

.card-project__data {
  display: flex;
  align-items: center;
  gap: 9px;
}

.card-project__data--photo {
  height: 26px;
  width: 26px;
  background-color: var(--color-black);
  border-radius: 13px;
}

@media only screen and (min-width: 480px) {
  .card-project {
    max-width: 662px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 150px;
    width: 150px;
  }

  .card-big {
    height: 320px;
    width: 320px;
  }
}
