.course-about__content {
  margin: 40px 20px;
}

.course-about__content h3 {
  line-height: 32px;
  margin-bottom: 24px;
  color: #000000;
}

.course-about__content--paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
  color: var(--color-black);
}

.select-about {
  width: 96px;
  border: none;
  appearance: none;
  background-image: url("../../assets/images/arrow-down-s-line.svg"),
    linear-gradient(to bottom, var(--color-white) 0%, var(--color-white) 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-color: var(--color-white);
}

@media only screen and (min-width: 480px) {
  .course-about__content {
    max-width: 662px;
    margin: 49.25px 0;
  }
}
