.sylabus-content {
  padding: 24px 20px;
  background-color: var(--color-background);
  margin-top: 38.8px;
}

.sylabus-content h3 {
  color: #000000;
}

.sylabus-content ul {
  margin-bottom: 28.75px;
}

.sylabus-content__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  color: var(--color-black);
  margin-bottom: 16px;
}

.sylabus-content__item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-black);
  list-style: none;
  margin-bottom: 11.75px;
}

.select-sylabus {
  width: 96px;
  border: none;
  appearance: none;
  background-image: url("../../assets/images/arrow-down-s-line.svg"),
    linear-gradient(
      to bottom,
      var(--color-background) 0%,
      var(--color-background) 100%
    );
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-color: var(--color-background);
}

@media only screen and (min-width: 480px) {
  .sylabus-content {
    margin: 0 -145px;
    padding: 49.25px 145px;
  }
}
