.info-curso__content {
  margin: 26px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-curso__content h2 {
  text-align: left;
}

.info-curso__content--icons {
  width: 80%;
  margin-bottom: 40px;
}

.info-curso__content--buttons {
  background: #e8eaf0;
  padding: 24px 20px;
  margin: 40px -20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }

  .content__price-buttons {
    background: #e8eaf0;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    padding: 30px 24px;
    gap: 15px;
  }

  .info-curso__content {
    margin: 0 0;
  }
}
