.curso-banner {
  height: 160px;
  background: #e8eaf0;
  border-radius: 10px 10px 0px 0px;
  padding: 8px;
}

.curso-tag {
  height: 24px;
  width: 86px;
  padding: 4px 8px;
  border-radius: 5px;
  padding: 4px, 8px, 4px, 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1px;
  text-align: left;
  background: #8d8d9d;
  color: #fff;
}

.curso-description {
  background: #f6f7f9;
  border-radius: 0px 0px 10px 10px;
  padding: 16px 22px;
}

.curso-description__name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 8px;
}

.curso-description__prof {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 8px;
}

@media only screen and (min-width: 480px) {
  .card-curso {
    width: 270px;
  }
}
