.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 304px;
  width: 100%;
  background-color: var(--color-background);
  padding: 50px 20.5px;
}

.hero__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 132px;
  width: 250px;
}

@media only screen and (min-width: 480px) {
  .hero__title {
    height: 132px;
    width: 334px;
  }
}
