.payment-method {
  margin: 24px 20px;
}

.card-method__form {
  padding: 24px 16px;
  background: rgba(141, 141, 157, 0.08);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.payment__label {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 8px;
  color: var(--color-black);
}

.payment-method__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.other {
  padding: 24px 20px;
  background: rgba(141, 141, 157, 0.08);
  border-radius: 2px;
  margin-top: 8px;
}

.payment-method__label input {
  margin-right: 12px;
}

.payment-method__label p {
  margin-right: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: center;
}

.payment-method__title {
  margin-bottom: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.form-input__text {
  border: 0.5px solid var(--color-gray2);
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  background-color: var(--color-white);
  padding: 16px 54px 16px 22px;
}

.terms {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.terms-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  text-align: left;
  color: var(--color-gray);
}

.button-payment__content {
  display: flex;
  justify-content: center;
}

.button-payment__content .button__comprar {
  padding: 14px 0px;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .payment-method__title {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
  }

  .content__expi-seg {
    display: flex;
    gap: 24px;
  }

  .content__expi-seg div {
    display: flex;
    flex-direction: column;
  }

  .button-payment__content {
    display: flex;
    justify-content: flex-start;
  }

  .button-payment__content .button__comprar {
    padding: 14px 91px;
    max-width: 325px;
  }

  .payment-method {
    margin: 0;
  }
}
