.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 304px;
  width: 100%;
  background-color: var(--color-background);
  padding: 50px 20.5px;
}

.hero__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 132px;
  width: 250px;
}

.button__comprar {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: center;
  border: none;
}
