@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap");

:root {
  --color-black: #181b32;
  --color-gray: #8d8d9d;
  --color-gray2: #878fb8;
  --color-white: #fff;
  --color-background: #f6f7f9;
  --font: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  color: var(--color-black);
  text-align: center;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  color: var(--color-black);
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-black);
}
