.pagination ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 46px 20px;
  height: 32px;
}

.pagination__numbers {
  display: flex;
  align-items: center;
}

.pagination span {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: center;
}
